#wrap {width: 100%; min-width: 1900px;}
header {min-width: 1900px;}

/* 헤더 */
header {
    display: flex; flex-flow: row nowrap; height: 82px; 
    align-items: center; position: sticky; z-index: 999; width: 100%;
    padding: 0 50px; position: absolute; /* 헤더 상단 고정 */
}
#gnb > ul {display: flex; flex-flow: row nowrap; /* gap: 5px; */ /* padding-left: 139px; */ padding-right:288px ;}
#gnb > ul > li > a {color: #DBDBDB; display: block; width: 100%;}
.right_lnb {display: flex; flex-flow: row nowrap; gap: 23px;}


/* 헤더에 마우스 올렸을때 */
header:hover {
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
}

header #gnb > ul > li > a {display: block; width: 100%; padding: 41px 51px; position: relative; }
header #gnb > ul > li:first-child {margin-left: 100px;}

header #gnb > ul > li > a::after { /* 각메뉴 밑줄 */
    content: '';
    position: absolute;
    z-index: 9999;
    bottom:8% ;
    left: 50%; transform: translateX(-50%);
    width: 130px;
    height: 2px;
    background-color: #303030;
    display: none;
}
header #gnb > ul > li > a:hover::after {
    display: block;
}

header:hover::after { /* 헤더 밑줄 */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #DBDBDB;
}
header:hover #gnb .sub_menu_txt li a {
    color: #6D6D6D;
    font-size: 0.875rem;
}
header:hover #gnb > ul > li > a {color: #3F3939; font-weight: 600;} /* 마우스 올렸을때 헤더 */
header:hover #gnb .sub_menu_txt li:first-child > a {color: #3F3939; font-weight: 600; font-size: 0.938rem; display: block; padding-bottom: 23px;}

header:hover .logo {
    content: url("../images/Rectangle-1.png");
}
header:hover .search svg path {
    fill: #3F3939;
}
header:hover .login svg path {
    fill: #3F3939;
}


.sub_menu { /* 서브메뉴  */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 318px;
    background: #fff;
    display: none;
    padding: 27px 0 0 298px;
}
#gnb > ul > li:hover .sub_menu {
    display: flex;
}
.sub_menu:hover  #gnb > ul > li > a:hover::after {
    display: block;
}

.sub_menu_txt {
    display: flex;
    flex-flow: column nowrap;
    gap: 14px;
    width: 210px;
    margin-right: 100px;
}
.sub_menu_img {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}
.sub_menu_img a {font-size: 0.938rem; color: #3F3939; font-weight: 600; padding-bottom: 18px; text-align: left;}
.sub_menu_img {padding-right: 14px;}


h1 {font-family: 'Sorts Mill Goudy', serif;}


/* 메인배너 */
.main_contents {
    position: absolute; z-index: 10; top: 50%; left: 18%;
}
.main_txt {font-size: 4rem;}
.main_txt > h1 {color: #fff;  font-family: 'Sorts Mill Goudy', serif; padding-bottom: 11px;}
.main_txt > h2 {color: #fff;  font-family: 'Sorts Mill Goudy', serif; padding-bottom: 11px;}
.main_txt > h2 {font-size:2rem ;}
.main_button {color: #fff; font-size: 0.875rem; border: 1px solid #fff; width: 112px; height: 37px; margin-top: 56px;}
#main_bnr {position: relative;}
.main_txt2 .bnr_2 {font-size: 3rem; color:#ffffff ; margin-bottom: 25px;}
.main_txt2 .bnr_txt {color:#ffffff ; line-height: 150%;}


.slide1 {position: relative;}
.slide1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* 카테고리 */
.category {
    display: flex; flex-flow: row nowrap; background-image: url(../images/Frame\ 20.png);
    justify-content: center; align-items: center; height: 760px; gap: 59px;
}
.category_img {display: flex; flex-flow: row nowrap; gap: 10px;}
.category_txt > h1 {font-size: 3.125rem; position: relative; display: inline-block; padding-bottom: 62px; color: #4E3939;}
.category_txt > p {line-height: 150% ; color: #3F3939;}
.category_txt > h1::after {
    content: ''; position: absolute; left: 50%; top: 70%;
    display: inline-block; width: 18px; height: 2px; background-color:#664B4B; opacity: 50%;
}

.img1, .img2 {position: relative;}
.skintxt, .handtxt {position: absolute; left: 50%; transform: translateX(-50%); top: 50%;}
.img3 a:first-child {position: relative; display: inline-block;}
.img3 a:last-child {position: relative; display: inline-block;}
.hometxt, .hairtxt {position: absolute;left: 50%; transform: translateX(-50%); top: 50%;}

.img2 {padding-bottom:5px ;}
.img3 {display:flex; gap:10px;}

.category_img span {color: #fff; font-size: 1.375rem;}

.category_img a {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.category_img a img {
    display: block; 
}

.category_img a::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.category_img a::after {
    opacity: 0;
    transition: opacity 0.2s ease; /* 카테고리 마우스 올리면 효과*/
}
.category_img a:hover::after {
    opacity: 1;
}
.category_img img {
transition: transform 0.5s ease;
}

.category_img a:hover img {
transform: scale(1.05); /* 카테고리 마우스 올리면 이미지확대*/
}


.category_img a div {
    opacity: 0;
    z-index: 2; /* ::after보다 위에 오게 */
    position: absolute;
}
.category_img a:hover div {
    opacity: 1;
}


/* 뉴 프래그런스 */
.fragrance {
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    background: #F9F9F9; height: 805px;
}
.fragrance_txt {text-align: center; }
.fragrance_txt > h1 {font-size:3.125rem ; position: relative; display: inline-block; padding-bottom: 62px; color:#4E3939 ;}
.fragrance_txt > p {color:#3F3939 ; line-height:150% ;}
.fragrance_txt > h1::after {
    content: ''; position: absolute; left: 50%; top: 70%;
    display: inline-block; width: 18px; height: 2px; background-color:#664B4B; opacity: 50%;
}

.bnr_left_img {padding-top: 55px;}
#more_button {
    width: 176px; height: 59px; text-align: center; margin-top:58px ;
    border: 1px solid #C2C2C2;
    /* background-color: #4E3939; */ line-height: 59px; display: inline-block; text-align: center;
    font-size: 0.875rem; color: #4E3939;
    transition: all 0.3s ease;
}
#more_button svg path {fill :#4E3939 ;  transition: fill 0.3s ease;}
#more_button:hover {
    background: #4E3939;
    color: #ffffff;
}
#more_button:hover svg path {fill :#ffffff ;}

#more_button svg {padding-left: 10px; }
.top_img img {padding-bottom: 23px;}
.bottom_img img:first-child {padding-right:23px ;}


/* 퍼스널 텍스트 */
.personal {text-align: center;}
.personal_txt > h1{font-size: 2.813rem; padding-top: 114px; color: #4E3939;}
.personal_txt > span {
    display: flex; background: #664B4B; width: 48px; height: 27px; justify-content: center; align-items: center;
    text-align: center; margin: 30px auto; opacity: 0.6; color: #fff; font-size: 0.875rem; border-radius: 10px;
}
.personal_txt > p {padding-bottom: 73px; color:#3F3939 ; font-size: 0.938rem; line-height: 150%;}



/* 퍼스널 스와이퍼 ----------아워컬렉션 아이템 */
#Personal_item {
    padding-bottom: 30px; 
    margin-bottom: 167px;
}

.product {
    background:#F9F9F9 ; width: 366px; height: 452px; text-align: center; position: relative;
    display: flex; flex-flow: column nowrap; justify-content: center; gap: 31px; border-radius: 10px;
}
.product_contents img {padding-top: 60px;}
.product_txt {text-align: left; padding-left:39px ;}
.product_txt a > h2 {padding-bottom:23px ; color: #141414; }
.product_txt > p {padding-bottom:15px; line-height: 150%; font-size: 0.813rem; font-size:0.813rem ; color:#404040 ;}
.product_txt > span {font-size: 0.938rem; color: #141414;}
.heart {position: absolute; right: 24px; top: 24px;}

/* 기프트 */
.right_gift {width: 956px; height: 842px; position: relative; z-index: 1;}
.right_gift::after {
    content: '';
    background-image: url(../images/Rectangle\ 33.png); 
    background-size: cover;
    background-repeat: no-repeat ; position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    opacity: 0.6; z-index: -1;
}
.gift {display: flex; flex-flow: row nowrap;}
.right_gift {text-align: center; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;}
.right_gift_txt >h1{font-size: 3.125rem; padding-bottom: 62px; color: #4E3939;}
.right_gift_txt .txt1 {display: block; padding-bottom: 30px; }
.right_gift_txt span {display: block; padding-bottom: 76px; color: #3F3939;line-height: 150%; }
#gift_more_btn {width:176px ; height: 45px; border: 1px solid #C2C2C2; font-size: 0.875rem; color: #404040; transition: all 0.3s ease;}
#gift_more_btn svg {padding-left:10px ;}

#gift_more_btn svg path { transition: fill 0.3s ease;}
#gift_more_btn:hover {
    background: #4E3939;
    color: #ffffff;
}
#gift_more_btn:hover svg path {fill :#ffffff ;}


/* 아워컬렉션 */
.our_txt {text-align: center; padding-top: 167px; padding-bottom: 69px;}
.our_txt > h1 {font-size: 2.813rem; position: relative; display: inline-block; padding-bottom: 62px;  color: #4E3939 ;}
.our_txt > p {font-size: 0.938rem; color: #3F3939;}
.our_txt > h1::after {
    content: ''; position: absolute; left: 50%; top: 70%;
    display: inline-block; width: 18px; height: 2px; background-color:#664B4B; opacity: 50%;
}
#our_btn {width: 124px; height: 47px; border: 1px solid #DBDBDB; display: block; margin: 60px auto 181px; font-size: 0.75rem; color: #141414;}

.our_item > .product {background:#F9F9F9 ; width: 345px; height: 427px;}
.our_item {display: flex; flex-flow: row nowrap; justify-content: space-between; width: 1440px; margin: 0 auto;}
.item2 {padding: 40px 0;}
.product_txt a > h2 {color: #141414;}
.product_txt a > p {color: #404040; font-size:0.813rem ;}
.product_txt a > span {font-size: 0.938rem; color: #141414;}

/* neighbourly광고 */
.neighbourly {position: relative;}
.neighbourly .nei_txt {position: absolute; top: 35%; right: 16%; color: #fff; text-align: center;}
.neighbourly .nei_txt > h1 {color: #E8E8E8; font-size: 3.125rem; padding-bottom: 25px;}
.neighbourly .nei_txt > p {color: #E8E8E8; text-align: left; padding-bottom: 78px; line-height: 150%;}
.neighbourly #nei_btn {color: #fff; border: 1px solid #D9D9D9; width: 214px; height: 45px; color: #D9D9D9; font-size: 0.875rem;}
.neighbourly #nei_btn svg {padding-left: 10px;}


.neighbourly {background-image: 
    linear-gradient(to left, 
        /* 1. 오른쪽 끝(0%)을 가장 진하게 설정 (거의 검은색) */
        rgba(0, 0, 0, 0.9) 0%, 
        /* 2. 화면의 20% 지점까지 진한 색을 유지 */
        rgba(0, 0, 0, 0.8) 30%,
        /* 3. 20% 지점부터 50% 지점까지 빠르게 투명해지도록 설정 */
        rgba(0, 0, 0, 0) 70% 
        ),
    url(../images/Frame56.png);
    width: 100%; height: 705px ;
}

/* 리딩 배너 */
.reading {margin-top: 183px;}
.reading_bg {
    background-image: 
    linear-gradient(to left, 
        /* 1. 오른쪽 끝(0%)을 가장 진하게 설정 (거의 검은색) */
        rgba(0, 0, 0, 0.9) 0%, 
        /* 2. 화면의 20% 지점까지 진한 색을 유지 */
        rgba(0, 0, 0, 0.6) 30%,
        /* 3. 20% 지점부터 50% 지점까지 빠르게 투명해지도록 설정 */
        rgba(0, 0, 0, 0) 70% 
        ),
    url(../images/Frame61.png); 
    width: 100%; height: 720px;
}
.reading_size {width: 1440px; margin: 0 auto; display: flex; flex-flow: row nowrap; } 

.reading_right {text-align: left; padding-left: 201px; padding-top: 260px;}
.reading_right > p {line-height: 150%; font-size: 0.875rem; color: #D9D9D9; line-height: 180%;}
.reading_right > p:first-child {padding-bottom:22px ; font-size: 0.938rem; line-height: 150%;}
#reading_btn {width: 250px; height: 43px; border: 1px solid #D9D9D9; margin-top: 71px; font-size: 0.875rem; color: #D9D9D9;}
#reading_btn svg {padding-left: 10px;}

.reading_left img {transform: translateY(0);}/* 배너 왼쪽 겹쳐진 이미지 */
.reading_left > h1 {font-size: 3.125rem; padding-top: 142px; color: #ffffff;}
.reading_left > p {padding-bottom: 44px; padding-top: 16px; color: #D0D0D0;}

/* 프래그런스 파인더 */
.finder_bg {
    background-image: url(../images/bottom_img.png); width: 100%; height: 886px;
    display: flex; flex-flow: row nowrap; justify-content: right;
}
.finder_left {padding-top:296px ; text-align: right;}
.finder_left >h1 {font-size: 3.125rem; padding-bottom: 55px; color: #4E3939; line-height: 150%;}
.finder_left >p {padding-bottom: 41px; text-align: right; color:#3F3939; line-height: 150%}
#finder_btn {width: 250px; height: 43px; border: 1px solid #3F3939; font-size: 0.875rem;}
#finder_btn svg {padding-left: 15px;}
.finder_right img {margin-top: 143px; padding-left: 224px;}

/* 푸터 */
footer {width: 100%; height: 650px; background: #252525; margin-top: 243px;}
.f_contents .f_top {
    width:1379px ; margin: 0 auto; display: flex; justify-content: space-between;
    
}
.position_contents {padding-top: 80px;}

.f_contents .f_bottom {width: 1384px; margin: 0 auto;}

.f_bottom {display: flex; flex-flow: row nowrap; padding-top: 50px;}

.f_txt , .f_bottom_right {display: flex; flex-flow: row nowrap; padding-top:50px ;}
.f_bottom_right {padding-left: 90px;}
.f_txt_service_contents {display: flex; flex-flow: row nowrap;}
.service {display: flex; flex-flow: column nowrap;}
.f_top {display: flex; flex-flow: row nowrap;}

.f_contents .company {}
.f_contents h3 {font-weight: 600; color: #ffffff; padding-right: 60px; position: relative;}
.f_contents h3::after {
    content: ''; position: absolute; right: 30px;
    display: inline-block; width: 1px; height: 16px; background-color:#D9D9D9; opacity: 70%;
}
.f_contents li a {font-size:0.875rem; color: #ffffff;}
.f_contents li {padding-bottom:25px ;}

/* 푸터 하단 */
.f_bottom_right ul > li {width: 482px;}
.f_bottom_left h4 {color: #ffffff; font-weight: 600; padding-bottom: 15px;}
.f_bottom_left .sub {color: #ffffff; font-size: 0.875rem; padding-bottom: 22px;}
#sub_txt {width:584px ; height:38px ; background: 0; border: 1px solid #ffffff; padding: 10px; color: #ffffff; font-size: 0.875rem; margin-bottom: 16px;}
.f_bottom_left .box {display: flex; flex-flow: row nowrap; }
.box_txt {font-size:0.813rem ; color: #ffffff; line-height: 130%; padding-left: 10px;}
.f_bottom_right ul li {line-height: 150%; font-size: 0.875rem; color: #ffffff; font-weight: 400; }
.f_bottom_right {margin-left: 80px;}