#wrap {width: 100%; min-width: 1900px;}
header {min-width: 1900px;}
/* 헤더 */
header {
    display: flex; flex-flow: row nowrap; height: 82px; 
    align-items: center; position: sticky; z-index: 999; width: 100%;
    padding: 0 50px; position: absolute; /* 헤더 상단 고정 */
}
#gnb > ul {display: flex; flex-flow: row nowrap; gap: 115px; padding-left: 139px; padding-right:288px ;}
#gnb > ul > li > a {color: #DBDBDB;}
.right_lnb {display: flex; flex-flow: row nowrap; gap: 23px;}

/* 헤더 마우스 올렸을때 */
header:hover {width: 100%; height: 82px; background-color: #ffffff; z-index: 9999; }
header:hover #gnb a {color: #3F3939; font-weight: 600;}
header:hover img {content: url("../images/Rectangle-1.png");}
.sub_menu {position: absolute; top: 100%; display: flex; flex-flow: row nowrap; left: 0;  width: 100%; display: none;} 

#gnb > ul > li:hover .sub_menu {
    display: block;
}
.sub_menu_txt {display: flex; flex-flow: column nowrap;width: 100%; height: 318px; background: #fff; padding-left: 298px;}




h1 {font-family: 'Sorts Mill Goudy', serif;}
/* 메인배너 */
.main_contents {
    position: absolute; z-index: 10; top: 50%; left: 18%;
}
.main_txt {font-size: 4rem;}
.main_txt h1,h2 {color: #fff;  font-family: 'Sorts Mill Goudy', serif; padding-bottom: 11px;}
.main_txt h2 {font-size:2rem ;}
.main_button {color: #fff; font-size: 0.875rem; border: 1px solid #fff; width: 112px; height: 37px; margin-top: 56px;}
#main_bnr {position: relative;}

/* 카테고리 */
.category {
    display: flex; flex-flow: row nowrap; background-image: url(../images/Frame\ 20.png);
    justify-content: center; align-items: center; height: 760px; gap: 59px;
}
.category_img {display: flex; flex-flow: row nowrap; gap: 10px;}
.category_txt > h1 {font-size: 3.125rem; position: relative; display: inline-block; padding-bottom: 62px; color: #4E3939;}
.category_txt > p {line-height: 150% ; color: #3F3939;}
.category_txt > h1::after {
    content: ''; position: absolute; left: 50%; top: 70%;
    display: inline-block; width: 18px; height: 2px; background-color:#664B4B; opacity: 50%;
}

.img1, .img2 {position: relative;}
.skintxt, .handtxt {position: absolute; left: 50%; transform: translateX(-50%); top: 50%;}
.img3 a:first-child {position: relative; display: inline-block;}
.img3 a:last-child {position: relative; display: inline-block;}
.hometxt, .hairtxt {position: absolute;left: 50%; transform: translateX(-50%); top: 50%;}

.img2 {padding-bottom:5px ;}
.img3 a {padding-right: 7px;}




.category_img a {
    position: relative;
    display: inline-block;
    overflow: hidden; /* 이거 필수! */
}
.category_img a img {
    display: block; /* 이거도 필수, 기본 inline이면 하단여백 생김 */
}


.category_img a::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


/* 뉴 프래그런스 */
.fragrance {
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    background: #F9F9F9; height: 805px;
}
.fragrance_txt {text-align: center;}
.fragrance_txt > h1 {font-size:3.125rem ; position: relative; display: inline-block; padding-bottom: 62px;}
.fragrance_txt > h1::after {
    content: ''; position: absolute; left: 50%; top: 70%;
    display: inline-block; width: 18px; height: 2px; background-color:#664B4B; opacity: 50%;
}

.bnr_left_img {padding-top: 55px;}
#more_button {
    width: 176px; height: 59px; text-align: center; margin-top:58px ;
    background-color: #4E3939; line-height: 59px; display: inline-block; text-align: center;
}

.top_img img {padding-bottom: 23px;}
.bottom_img img:first-child {padding-right:23px ;}



/* 퍼스널 텍스트 */
.personal {text-align: center;}
.personal_txt > h1{font-size: 2.813rem; padding-top: 114px;}
.personal_txt > span {display: block; padding: 30px 0;}
.personal_txt > p {padding-bottom: 73px;}

/* 퍼스널 스와이퍼 ----------아워컬렉션 아이템 */
#Personal_item {
    padding-bottom: 30px; 
    margin-bottom: 167px;
}

.product {
    background:#F9F9F9 ; width: 366px; height: 452px; text-align: center; position: relative;
    display: flex; flex-flow: column nowrap; justify-content: center; gap: 31px; border-radius: 10px;
}
.product_contents img {padding-top: 60px;}
.product_txt {text-align: left; padding-left:39px ;}
.product_txt a > h2 {padding-bottom:23px ;}
.product_txt > p {padding-bottom:15px; line-height: 150%; font-size: 0.813rem;}
.heart {position: absolute; right: 24px; top: 24px;}

/* 기프트 */
.right_gift {width: 956px; height: 842px; position: relative; z-index: 1;}
.right_gift::after {
    content: '';
    background-image: url(../images/Rectangle\ 33.png); 
    background-size: cover;
    background-repeat: no-repeat ; position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    opacity: 0.6; z-index: -1;
}
.gift {display: flex; flex-flow: row nowrap;}
.right_gift {text-align: center; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;}
.right_gift_txt >h1{font-size: 3.125rem; padding-bottom: 62px;}
.right_gift_txt .txt1 {display: block; padding-bottom: 30px;}
.right_gift_txt span {display: block; padding-bottom: 76px;}
#gift_more_btn {width:176px ; height: 45px; border: 1px solid #C2C2C2;}

/* 아워컬렉션 */
.our_txt {text-align: center; padding-top: 167px; padding-bottom: 69px;}
.our_txt > h1 {font-size: 2.813rem; position: relative; display: inline-block; padding-bottom: 62px;}
.our_txt > h1::after {
    content: ''; position: absolute; left: 50%; top: 70%;
    display: inline-block; width: 18px; height: 2px; background-color:#664B4B; opacity: 50%;
}
#our_btn {width: 124px; height: 47px; border: 1px solid #DBDBDB; display: block; margin: 60px auto 181px;}

.our_item > .product {background:#F9F9F9 ; width: 345px; height: 427px;}
.our_item {display: flex; flex-flow: row nowrap; justify-content: space-between; width: 1440px; margin: 0 auto;}
.item2 {padding: 40px 0;}

/* neighbourly광고 */
.neighbourly {position: relative;}
.neighbourly .nei_txt {position: absolute; top: 35%; right: 16%; color: #fff; text-align: center;}
.neighbourly .nei_txt > h1 {color: #fff; font-size: 3.125rem; padding-bottom: 25px;}
.neighbourly .nei_txt > p {color: #fff; text-align: left; padding-bottom: 78px;}
.neighbourly #nei_btn {color: #fff; border: 1px solid #D9D9D9; width: 214px; height: 45px; }

.neighbourly {background-image: 
    linear-gradient(to left, 
        /* 1. 오른쪽 끝(0%)을 가장 진하게 설정 (거의 검은색) */
        rgba(0, 0, 0, 0.9) 0%, 
        /* 2. 화면의 20% 지점까지 진한 색을 유지 */
        rgba(0, 0, 0, 0.8) 30%,
        /* 3. 20% 지점부터 50% 지점까지 빠르게 투명해지도록 설정 */
        rgba(0, 0, 0, 0) 70% 
        ),
    url(../images/Frame56.png);
    width: 100%; height: 705px ;
}

/* 리딩 배너 */
.reading {margin-top: 183px;}
.reading_bg {

    background-image: 
    linear-gradient(to left, 
        /* 1. 오른쪽 끝(0%)을 가장 진하게 설정 (거의 검은색) */
        rgba(0, 0, 0, 0.9) 0%, 
        /* 2. 화면의 20% 지점까지 진한 색을 유지 */
        rgba(0, 0, 0, 0.6) 30%,
        /* 3. 20% 지점부터 50% 지점까지 빠르게 투명해지도록 설정 */
        rgba(0, 0, 0, 0) 70% 
        ),
    url(../images/Frame61.png); 
    width: 100%; height: 720px;
}
.reading_size {width: 1440px; margin: 0 auto; display: flex; flex-flow: row nowrap; } 

.reading_right {text-align: left; padding-left: 201px; padding-top: 260px;}
.reading_right > p {line-height: 150%; font-size: 0.875rem;}
.reading_right > p:first-child {padding-bottom:22px ; font-size: 0.938rem;}
#reading_btn {width: 250px; height: 43px; border: 1px solid #D9D9D9; margin-top: 71px; font-size: 0.875rem;}

.reading_left img {transform: translateY(0);}/* 배너 왼쪽 겹쳐진 이미지 */
.reading_left > h1 {font-size: 3.125rem; padding-top: 142px;}
.reading_left > p {padding-bottom: 44px; padding-top: 16px; }

/* 프래그런스 파인더 */
.finder_bg {
    background-image: url(../images/bottom_img.png); width: 100%; height: 886px;
    display: flex; flex-flow: row nowrap; justify-content: right;
}
.finder_left {background: yellow; padding-top:296px ; text-align: right;}
.finder_left >h1 {font-size: 3.125rem; padding-bottom: 55px;}
.finder_left >p {padding-bottom: 41px; text-align: right;}
#finder_btn {width: 250px; height: 43px; border: 1px solid #3F3939;}
.finder_right img {margin-top: 143px; padding-left: 224px;}

/* 푸터 */
footer {width: 100%; height: 650px; background: #252525; margin-top: 243px;}
.f_contents .f_top {
    width:1379px ; margin: 0 auto; display: flex; justify-content: space-between;
    padding-top: 45px;
}
.position_contents {padding-top: 80px;}

.f_contents .f_bottom {width: 1384px; margin: 0 auto;}

.f_bottom {display: flex; flex-flow: row nowrap; padding-top: 50px;}

.f_txt , .f_bottom_right {display: flex; flex-flow: row nowrap; padding-top:50px ;}
.f_bottom_right {padding-left: 90px;}
.f_txt_service_contents {display: flex; flex-flow: row nowrap;}
.service {display: flex; flex-flow: column nowrap;}
.f_top {display: flex; flex-flow: row nowrap;}

.f_contents .company {}
.f_contents h3 {font-weight: 600; color: #ffffff; padding-right: 60px; position: relative;}
.f_contents h3::after {
    content: ''; position: absolute; right: 30px;
    display: inline-block; width: 1px; height: 16px; background-color:#D9D9D9; opacity: 70%;
}
.f_contents li a {font-size:0.875rem; color: #ffffff;}
.f_contents li {padding-bottom:25px ;}

.f_bottom_right ul > li {width: 482px;}